<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>choice</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <ul><button class="b2" id ="user-login">UserName</button><p id="user-rate">0</p></ul>
    <ul><h2>Решать задачи</h2></ul>
    <ul class="ch">
        <form action="solo"><button class="b3">В одиночку</button></form>
        <form action="tour"><button class="b3">Онлайн турнир</button></form>
    </ul>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/userData.js"></script>
</body>
</html>
