<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MathBattle</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="wrapper">
        <ul><header>Авторизация</header></ul>
        <div class="placeholder-form">
        <ul>
            <div class="placeholder-container">
                <input type="text" placeholder=" " id="login"/>
                <label>Логин</label>
            </div>
        </ul>
        <ul>
            <div class="placeholder-container">
                <input type="text" placeholder=" " id="password"/>
                <label>Пароль</label>
            </div>
        </ul>
        </div>
        <ul><form action="choice"><button class="b1" id="login-button">Войти</button></form></ul>
        <ul><p>Еще не зарегестрированы?</p></ul>
        <ul><form action="reg"><button>Зарегистрироваться</button></form></ul>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="./scripts/authorization.js"></script>
    </div>
</body>
</html>
