<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reg</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <ul class="reg1">Регистрация</ul>
    <div class="placeholder-form">
    <ul>
        <div class="placeholder-container">
            <input type="text" placeholder=" " id="login"/>
            <label>Логин</label>
        </div>
    </ul>
    <ul>
        <div class="placeholder-container">
            <input type="password" placeholder=" " id="password"/>
            <label>Пароль</label>
        </div>
    </ul>
    <ul>
        <div class="placeholder-container">
            <input type="password" placeholder=" " id="confirm"/>
            <label>Повторите пароль</label>
        </div>
    </ul>
    </div>
    <ul><button id="registration-button">Зарегистрироваться</button></ul>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="./scripts/registration.js"></script>
</body>
</html>
