<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>solo</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <ul><form action="choice"><button class="b4">На Главную</button></form></ul>
    <ul><h2>Выберите тему</h2></ul>
    <div class="soloplay">
    <ul>
        <input class = "b5" type="submit" name="1" value="Уравнения" />
        <input class = "b5" type="submit" name="2" value="Производные" />
        <input class = "b5" type="submit" name="3" value="Интегралы" />
        <input class = "b5" type="submit" name="4" value="Тема" />
        <input class = "b5" type="submit" name="5" value="Тема" />
        <input class = "b5" type="submit" name="6" value="Тема" />
        <input class = "b5" type="submit" name="7" value="Тема" />
        <input class = "b5" type="submit" name="8" value="Тема" />
        <input class = "b5" type="submit" name="9" value="Тема" />
        <input class = "b5" type="submit" name="10" value="Тема" />
        <input class = "b5" type="submit" name="11" value="Тема" />
        <input class = "b5" type="submit" name="12" value="Тема" />
        <form action="solo2"><button>Перейти к решению</button></form>
    </ul>
    </div>
</body>
</html>
