<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>solo</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <ul><form action="choice"><button class="b4">На Главную</button></form></ul>
    <ul><h2>Выберите тему</h2></ul>
    <div class="soloplay">
    <ul>
        <input class = "b5" type="submit" name="Equation" value="Уравнения" />
        <input class = "b5" type="submit" name="Derivative" value="Производные" />
        <input class = "b5" type="submit" name="Integral" value="Интегралы" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="./scripts/chooseTheme.js"></script>
        <!-- выровнять по центру -->
    </ul>
    </div>
</body>
</html>
